body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f7f7f7;
  height: 100%
}

/* body > div{
  height: 100%
} */

/*!
 * Start Bootstrap - Business Casual (https://startbootstrap.com/template-overviews/business-casual)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-business-casual/blob/master/LICENSE)
 */

 body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  height: 100%

}

h1, h2, h3, h4, h5, h6, .text-heading {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 4rem;
}

.tagline-upper {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
}

.tagline-lower {
  font-size: 1.2rem;
  line-height: 1;
}

.text-expanded {
  letter-spacing: 2px;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.text-lg {
  font-size: 1.25rem;
}

.text-dark {
  color:#454545;
}


.bg-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

hr.divider {
  border-color: #292b2c;
  max-width: 250px;
}

.map-container iframe {
  pointer-events: none;
}

.map-container iframe.clicked {
  pointer-events: auto;
}

.grey-bg{background-color: #153449;}

.home_bg{background: url('/images/bg-app.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.padd-top{padding: 100px 0;}
.m-t-10{margin-top:10px;}
.col-md-6, .col-md-4, .col-md-5, .col-md-7, .col-md-8{float: left;}
.color-red{color: #D22215;}
.color-green{color: #0CA25F;}
.color-blue{color:#1852d3;}
  .top-text{font-weight: bold;font-size:35px;line-height: 43px;}
.scan-button{margin-top:30px;}

.box-bg{
  width: 60%;
  margin: 0 auto;
  webkit-box-shadow: -2px 1px 13px 2px rgba(3,66,104,0.38);
    box-shadow: -2px 1px 13px 2px rgba(3,66,104,0.38);
    padding: 40px 0;
}
.box-bg p{ color: #333;
    font-size: 24px;
  }
.box-bg h1{
      font-size: 34px;
    font-weight: 500;
    margin: 20px 0;
}
.bg-grey{background-color: #f8f8f8;}
.btn-wrap-header{font-size: 22px; font-weight: bold;}
.green-color{background-color: #3db57f;}
.purple-color{background-color: #7159f2;}
.orange-color{color: #f78851;}
.font-white{color: #fff !important;}
.p-b-30{padding-bottom: 30px;}
.xs-show{display:none;}

    /* responsive code*/

    @media only screen and (max-width: 769px) {

      .mt-3, .my-3{margin-top: 0!important;}
      .three-div .col-md-4{padding:15px 30px;}
      .button-blue{font-size: 13px;padding:12px 36px;}
      .ul-section{margin-left: 0;}
      .video-div iframe{width:100% !important;}
      .left-d-div{padding:0;text-align: center;}
      .left-d-div .result-shar h3{position: relative;left:0;top:0;}
      /* .chart-section img{width:100%;} */
      .chart-section canvas{padding: 14% 0 10% 0;}
      .left-d-div img{margin: 0;}
      .text-resl{padding:0;}
      .form-results{width:100%;}
      .testimonials-text.float-left{float: none !important;height:auto !important;text-align: left;}
      .testimonials-main.col-md-12{width: 100% !important;}
      .vertical-middle{display: block;}
      .video-gif img{margin-bottom: 20px;}
      .quote-green{right: 10%;}
    }
    @media only screen and (min-width:768px) and (max-width:1024px){
      .vert-line-left, .vert-line-right{  width: 19%; top: 19%;}
    }
    @media only screen and (min-width:200px) and (max-width:480px){
      .xs-show{display: block;}
      .xs-hide{display: none;}
      .btn-wrap-header { font-size: 14px; }
      .btn-wrap{padding: 10px;}
      .vert-line-left, .vert-line-right{top:13%; width:33%;} 
      .mob-mar-t{margin-top: 30px;}
    }
    @media only screen and (min-width:481px) and (max-width:767px){
      .xs-show{display: block;}
      .xs-hide{display: none;}
      .btn-wrap-header { font-size: 14px; }
      .btn-wrap{padding: 10px;}
      .vert-line-left, .vert-line-right{top:10%; width:33%;} 
      .mob-mar-t{margin-top: 30px;}
    }
    .logo{width:"300px";height:"100%"}

    .ui.search .prompt {
      border-radius: .28571429rem;
    }

    .ui.search>.results {
      max-height: 100px;
      overflow: auto;
    }

    .ui.floating.label {
      top: .7em;
      left: 80%;
    }

    .react-tags {
      position: relative;
      padding: 6px 0 0 6px;
      /* border: 1px solid #D1D1D1; */
      border-radius: 1px;
    
      /* shared font styles */
      font-size: 1em;
      line-height: 1.2;
    
      /* clicking anywhere will focus the input */
      cursor: text;
      width: fit-content;
    }
    
    .react-tags.is-focused {
      border-color: #B1B1B1;
    }
    
    .react-tags__selected {
      display: inline;
    }
    
    .react-tags__selected-tag {
      display: inline-block;
      box-sizing: border-box;
      margin: 0 6px 6px 0;
      padding: 6px 8px;
      border: 1px solid #D1D1D1;
      border-radius: 2px;
      background: #F1F1F1;
    
      /* match the font styles */
      font-size: inherit;
      line-height: inherit;
    }
    
    .react-tags__selected-tag:after {
      content: '\2715';
      color: #AAA;
      margin-left: 8px;
    }
    
    .react-tags__selected-tag:hover,
    .react-tags__selected-tag:focus {
      border-color: #B1B1B1;
    }
    
    .react-tags__search {
      /* display: inline-block; */
      display: -webkit-inline-box;
    
      /* match tag layout */
      padding: 7px 2px;
      margin-bottom: 6px;
    
      /* prevent autoresize overflowing the container */
      max-width: 100%;
    }
    
    @media screen and (min-width: 30em) {
    
      .react-tags__search {
        /* this will become the offsetParent for suggestions */
        /* position: relative; */
        position: inherit;
      }
    
    }
    
    .react-tags__search input {
      /* prevent autoresize overflowing the container */
      max-width: 100%;
    
      /* remove styles and layout from this element */
      margin: 0;
      padding: 0;
      border: 0;
      outline: none;
    
      /* match the font styles */
      font-size: inherit;
      line-height: inherit;
    }
    
    .react-tags__search input::-ms-clear {
      display: none;
    }
    
    .react-tags__suggestions {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
    }
    
    @media screen and (min-width: 30em) {
    
      .react-tags__suggestions {
        width: 240px;
      }
    
    }
    
    .react-tags__suggestions ul {
      margin: 4px -1px;
      padding: 0;
      list-style: none;
      background: white;
      border: 1px solid #D1D1D1;
      border-radius: 2px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }
    
    .react-tags__suggestions li {
      border-bottom: 1px solid #ddd;
      padding: 6px 8px;
    }
    
    .react-tags__suggestions li mark {
      text-decoration: underline;
      background: none;
      font-weight: 600;
    }
    
    .react-tags__suggestions li:hover {
      cursor: pointer;
      background: #eee;
    }
    
    .react-tags__suggestions li.is-active {
      background: #b7cfe0;
    }
    
    .react-tags__suggestions li.is-disabled {
      opacity: 0.5;
      cursor: auto;
    }

    .react-tags__search-input input{
      /* max-width: 78rem !important; */
      min-width: 20rem !important;
      padding: 3px 10px !important;
      border: none !important;
      border-bottom: 1px solid rgba(34,36,38,.15) !important;
    }